<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApPFna0O0TQUrf5aBgzTe12fKsz9nWIrg</string>
	<key>GCM_SENDER_ID</key>
	<string>505698623774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nseError.stg</string>
	<key>PROJECT_ID</key>
	<string>nse-test-a9454</string>
	<key>STORAGE_BUCKET</key>
	<string>nse-test-a9454.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505698623774:ios:f2b11768caee56f6aae90f</string>
</dict>
</plist>